<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User Page</title>
</head>

<style>
  .error {
    color: red;
  }
</style>

<body>

<form th:action="@{/logout}" method="post">
  <input type="submit" value="Logout" />
</form><br>

<h1>Add User</h1>

<form th:action="added" th:method="post" th:object="${userForm}">
  <div>
    <label for="firstName">First Name</label><br>
    <input type="text" placeholder="e.g. John" th:field="*{firstName}">
    <p th:if="${#fields.hasErrors('firstName')}" th:errorclass="error" th:errors="*{firstName}"></p>
  </div>
  <div>
    <label for="lastName">Last Name</label><br>
    <input type="text" placeholder="e.g. Doe" th:field="*{lastName}">
    <p th:if="${#fields.hasErrors('lastName')}" th:errorclass="error" th:errors="*{lastName}"></p>
  </div>
  <div>
    <label for="email">Email</label><br>
    <input type="email" placeholder="e.g. john_doe@mail.com" th:field="*{email}">
    <p th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}"></p>
  </div>
  <div>
    <label for="password">Password</label><br>
    <input type="password" th:field="*{password}">
    <p th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}"></p>
  </div>
  <div>
    <label>Roles:
      <input type="checkbox" name="roles"
             th:each="role : ${allRoles}"
             th:text="${role.role}"
             th:value="${role.id}"
             th:field="*{roles}"
      />
    </label>
    <p th:if="${#fields.hasErrors('roles')}" th:errorclass="error" th:errors="*{roles}"></p>
  </div>
  <br>
  <button type="submit">Add User</button>
</form>

</body>
</html>