<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #000;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .error {
        color: red;
    }
</style>
<body>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout" />
</form><br>

<form th:action="@{/user}" method="get">
    <input type="submit" value="User Info" />
</form><br>

<h1>User List</h1>

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.roles}"></td>
        <td><a th:href="@{/admin/edit(id=${user.id})}">Edit</a></td>
        <td><a th:href="@{/admin/delete(id=${user.id})}">Delete</a></td>
    </tr>
    </tbody>
    <a th:href="@{/admin/add_user}">Add User</a>
</table>

</body>
</html>