<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-dark bg-dark" style="font-size: small">
    <div class="container-fluid">
        <span class="navbar-brand" style="font-size: small" th:text="${userDetails.username} + ' with roles ' + ${userDetails.roles}"></span>
        <a class="nav-link" th:href="@{/logout}">Logout</a>
    </div>
</nav>

<div class="container-fluid" style="height: 90vh">
    <div class="row h-100">
        <div class="col-2 p-0">
            <table class="table table-hover border-0">
                <tbody>
                <tr class="table-primary border-0">
                    <td class="border-0 text-center">
                        <a class="nav-link" th:href="@{/admin}">Admin</a>
                    </td>
                </tr>
                <tr>
                    <td class="border-0 text-center">
                        <a class="nav-link" th:href="@{/user}">User</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-10 bg-light p-0">
            <div class="container">
                <div class="row">
                    <h3 class="m-1">Admin Panel</h3>
                </div>
                <div class="col">
                    <div class="row bg-light mx-1">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" id="all-users-tab" data-toggle="tab" th:href="@{/admin}" role="tab" aria-controls="allUsers" aria-selected="true">All Users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="new-user-tab" data-toggle="tab" th:href="@{/admin/add_user}" role="tab" aria-controls="addUser" aria-selected="false">New User</a>
                            </li>
                        </ul>
                    </div>
                    <div class="row border fw-bold bg-light p-3 mx-1" style="font-size: small; height: max-content">Edit User</div>
                    <div class="row border bg-white mx-1 p-3" style="font-size: small">
                        <form th:action="@{/admin/edited(id=${id})}" th:method="post" th:object="${editUserForm}">
                            <div class="text-center">
                                <label class="fw-bold">ID</label><br>
                                <input type="text" th:field="${userToEdit.id}" style="width: 30%" disabled>
                            </div>
                            <div class="text-center">
                                <label class="fw-bold">First Name</label><br>
                                <input type="text" th:field="*{firstName}" style="width: 30%">
                                <p th:if="${#fields.hasErrors('firstName')}" th:errorclass="error" th:errors="*{firstName}" class="text-danger"></p>
                            </div>
                            <div class="text-center">
                                <label class="fw-bold">Last Name</label><br>
                                <input type="text" th:field="*{lastName}" style="width: 30%">
                                <p th:if="${#fields.hasErrors('lastName')}" th:errorclass="error" th:errors="*{lastName}" class="text-danger"></p>
                            </div>
                            <div class="text-center">
                                <label class="fw-bold">Age</label><br>
                                <input type="number" th:field="*{age}" style="width: 30%">
                                <p th:if="${#fields.hasErrors('age')}" th:errorclass="error" th:errors="*{age}" class="text-danger"></p>
                            </div>
                            <div class="text-center">
                                <label class="fw-bold">Email</label><br>
                                <input type="email" th:field="*{email}" style="width: 30%">
                                <p th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}" class="text-danger"></p>
                            </div>
                            <div class="text-center">
                                <label class="fw-bold">Password</label><br>
                                <input type="password" th:field="*{password}" style="width: 30%">
                            </div>
                            <div class="text-center">
                                <label class="fw-bold">Role</label><br>
                                <select id="roles" name="roles" size="2" style="width: 30%" multiple required>
                                    <option th:each="role : ${allRoles}" th:value="${role.id}" th:text="${role.role}"
                                            th:selected="${editUserForm.roles.contains(role)}"></option>
                                </select>
                                <p th:if="${#fields.hasErrors('roles')}" th:errorclass="error" th:errors="*{roles}" class="text-danger"></p>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary" type="submit">Edit user</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>